spring:
  main:
    allow-circular-references: 'true'
    allow-bean-definition-overriding: 'true'
  mail:
    host: smtp.gmail.com
    username: ${MAIL_USER_NAME}
    port: '587'
    properties:
      mail:
        smtp:
          starttls:
            enable: 'true'
    password: ${EMAIL_KEY}
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
    show-sql: 'true'
    properties:
      hibernate:
        format_sql: 'true'
  datasource:
    password: rootPassword
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    url: jdbc:mysql://localhost:3306/preorder
  data:
    redis:
      port: '6379'
      host: localhost
server:
  port: '8080'
